<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.OffEmployeeAttendanceMapper">
  <resultMap id="BaseResultMap" type="com.crm.bean.OffEmployeeAttendance">
    <id column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="off_staff_id" jdbcType="INTEGER" property="offStaffId" />
    <result column="off_year" jdbcType="INTEGER" property="offYear" />
    <result column="off_mon" jdbcType="INTEGER" property="offMon" />
    <result column="off_day" jdbcType="INTEGER" property="offDay" />
    <result column="book_time" jdbcType="TIMESTAMP" property="bookTime" />
  </resultMap>
  <sql id="Base_Column_List">
    book_id, off_staff_id, off_year, off_mon, off_day, book_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from off_employee_attendance
    where book_id = #{bookId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from off_employee_attendance
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.bean.OffEmployeeAttendance">
    insert into off_employee_attendance (book_id, off_staff_id, off_year, 
      off_mon, off_day, book_time
      )
    values (#{bookId,jdbcType=INTEGER}, #{offStaffId,jdbcType=INTEGER}, #{offYear,jdbcType=INTEGER}, 
      #{offMon,jdbcType=INTEGER}, #{offDay,jdbcType=INTEGER}, #{bookTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.bean.OffEmployeeAttendance">
    insert into off_employee_attendance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        book_id,
      </if>
      <if test="offStaffId != null">
        off_staff_id,
      </if>
      <if test="offYear != null">
        off_year,
      </if>
      <if test="offMon != null">
        off_mon,
      </if>
      <if test="offDay != null">
        off_day,
      </if>
      <if test="bookTime != null">
        book_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="offStaffId != null">
        #{offStaffId,jdbcType=INTEGER},
      </if>
      <if test="offYear != null">
        #{offYear,jdbcType=INTEGER},
      </if>
      <if test="offMon != null">
        #{offMon,jdbcType=INTEGER},
      </if>
      <if test="offDay != null">
        #{offDay,jdbcType=INTEGER},
      </if>
      <if test="bookTime != null">
        #{bookTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.bean.OffEmployeeAttendance">
    update off_employee_attendance
    <set>
      <if test="offStaffId != null">
        off_staff_id = #{offStaffId,jdbcType=INTEGER},
      </if>
      <if test="offYear != null">
        off_year = #{offYear,jdbcType=INTEGER},
      </if>
      <if test="offMon != null">
        off_mon = #{offMon,jdbcType=INTEGER},
      </if>
      <if test="offDay != null">
        off_day = #{offDay,jdbcType=INTEGER},
      </if>
      <if test="bookTime != null">
        book_time = #{bookTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.bean.OffEmployeeAttendance">
    update off_employee_attendance
    set off_staff_id = #{offStaffId,jdbcType=INTEGER},
      off_year = #{offYear,jdbcType=INTEGER},
      off_mon = #{offMon,jdbcType=INTEGER},
      off_day = #{offDay,jdbcType=INTEGER},
      book_time = #{bookTime,jdbcType=TIMESTAMP}
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  
  <!-- 签到 -->
  <select id="selectBookMission" resultMap="BaseResultMap" >
  	select * from off_employee_attendance 
  	where off_staff_id = #{offStaffId} 
  	and off_mon = #{month} 
 	and off_year = #{year} 
  </select>
  <select id="selectDayBookMission" resultMap="BaseResultMap" >
  	select * from off_employee_attendance 
  	where off_staff_id = #{offStaffId} 
  	and off_mon = #{month} 
 	and off_year = #{year} 
 	and off_day = #{day} 
  </select>
  
</mapper>