<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.dao.PreorderMapper" >
  <resultMap id="BaseResultMap" type="com.crm.bean.Preorder" >
    <id column="preorder_id" property="preorderId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="preorder_note" property="preorderNote" jdbcType="VARCHAR" />
    <result column="pay_case" property="payCase" jdbcType="VARCHAR" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="delivery_place" property="deliveryPlace" jdbcType="VARCHAR" />
    <result column="sys_account_id" property="sysAccountId" jdbcType="INTEGER" />
    <result column="preorder_tme" property="preorderTme" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    preorder_id, customer_id, preorder_note, pay_case, delivery_time, delivery_place, 
    sys_account_id, preorder_tme
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from preorder
    where preorder_id = #{preorderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from preorder
    where preorder_id = #{preorderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.bean.Preorder" >
    insert into preorder (preorder_id, customer_id, preorder_note, 
      pay_case, delivery_time, delivery_place, 
      sys_account_id, preorder_tme)
    values (#{preorderId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{preorderNote,jdbcType=VARCHAR}, 
      #{payCase,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=TIMESTAMP}, #{deliveryPlace,jdbcType=VARCHAR}, 
      #{sysAccountId,jdbcType=INTEGER}, #{preorderTme,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.bean.Preorder" >
    insert into preorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="preorderId != null" >
        preorder_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="preorderNote != null" >
        preorder_note,
      </if>
      <if test="payCase != null" >
        pay_case,
      </if>
      <if test="deliveryTime != null" >
        delivery_time,
      </if>
      <if test="deliveryPlace != null" >
        delivery_place,
      </if>
      <if test="sysAccountId != null" >
        sys_account_id,
      </if>
      <if test="preorderTme != null" >
        preorder_tme,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="preorderId != null" >
        #{preorderId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="preorderNote != null" >
        #{preorderNote,jdbcType=VARCHAR},
      </if>
      <if test="payCase != null" >
        #{payCase,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryPlace != null" >
        #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="sysAccountId != null" >
        #{sysAccountId,jdbcType=INTEGER},
      </if>
      <if test="preorderTme != null" >
        #{preorderTme,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.bean.Preorder" >
    update preorder
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="preorderNote != null" >
        preorder_note = #{preorderNote,jdbcType=VARCHAR},
      </if>
      <if test="payCase != null" >
        pay_case = #{payCase,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryPlace != null" >
        delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="sysAccountId != null" >
        sys_account_id = #{sysAccountId,jdbcType=INTEGER},
      </if>
      <if test="preorderTme != null" >
        preorder_tme = #{preorderTme,jdbcType=TIMESTAMP},
      </if>
    </set>
    where preorder_id = #{preorderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.bean.Preorder" >
    update preorder
    set customer_id = #{customerId,jdbcType=INTEGER},
      preorder_note = #{preorderNote,jdbcType=VARCHAR},
      pay_case = #{payCase,jdbcType=VARCHAR},
      delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
      sys_account_id = #{sysAccountId,jdbcType=INTEGER},
      preorder_tme = #{preorderTme,jdbcType=TIMESTAMP}
    where preorder_id = #{preorderId,jdbcType=INTEGER}
  </update>
  
  <select id="selectPre" resultMap="PreorderMap">
  SELECT p.*,c.*,pd.kc_num_sell,s.sys_account_name,kc.jxj,kc.kc_num,kc.kgoods_name
	FROM preorder p INNER JOIN preorder_details pd 
	ON p.preorder_id = pd.preorder_id INNER JOIN kc_goods kc
	ON pd.kgoods_id = kc.kcgoods_id INNER JOIN customer c
	ON p.customer_id = c.customer_id INNER JOIN sys_account s
	ON p.sys_account_id = s.sys_account_id
  </select>
  
  <select id="selectGoodsNum" resultMap="kcgoodsMap">
  select kcgoods_id,kgoods_name,kc_num,jxj FROM kc_goods
  </select>
  
  
  <resultMap id="kcgoodsMap" type="com.crm.bean.Kcgoods" >
    <id column="kcgoods_id" property="kcgoodsId" jdbcType="INTEGER" />
    <result column="kgoods_name" property="kgoodsName" jdbcType="VARCHAR" />
    <result column="kc_num" property="kcNum" jdbcType="INTEGER" />
    <result column="jxj" property="jxj" jdbcType="REAL" />
  </resultMap>
  
  
  
  <select id="selectCus" resultMap="customerMap">
  SELECT * FROM customer
  </select>
  
  <resultMap id="customerMap" type="com.crm.bean.Customer" >
    <id column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="copany_name" property="copanyName" jdbcType="VARCHAR" />
    <result column="copany_adress" property="copanyAdress" jdbcType="VARCHAR" />
    <result column="copany_code" property="copanyCode" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_emal" property="customerEmal" jdbcType="VARCHAR" />
    <result column="customer_iphone" property="customerIphone" jdbcType="VARCHAR" />
    <result column="customer_state" property="customerState" jdbcType="VARCHAR" />
  </resultMap>
  
  
<resultMap id="PreorderMap" type="com.crm.bean.Preorder" >
    <id column="preorder_id" property="preorderId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="preorder_note" property="preorderNote" jdbcType="VARCHAR" />
    <result column="pay_case" property="payCase" jdbcType="VARCHAR" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="delivery_place" property="deliveryPlace" jdbcType="VARCHAR" />
    <result column="sys_account_id" property="sysAccountId" jdbcType="INTEGER" />
    <result column="preorder_tme" property="preorderTme" jdbcType="TIMESTAMP" />
    
    <association property="customer" column="customer_id" javaType="com.crm.bean.Customer">
    <id column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="copany_name" property="copanyName" jdbcType="VARCHAR" />
    <result column="copany_adress" property="copanyAdress" jdbcType="VARCHAR" />
    <result column="copany_code" property="copanyCode" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_emal" property="customerEmal" jdbcType="VARCHAR" />
    <result column="customer_iphone" property="customerIphone" jdbcType="VARCHAR" />
    <result column="customer_state" property="customerState" jdbcType="VARCHAR" />
    </association>
    
    <collection property="proDetaList" column="procurement_id" ofType="com.crm.bean.PreorderDetails" >
    	<id column="preorder_details_id" property="preorderDetailsId" jdbcType="INTEGER" />
	    <association property="kcgoods" column="kgoods_id" javaType="com.crm.bean.Kcgoods" >
	    	<id column="kgoods_id" property="kcgoodsId" jdbcType="INTEGER" />
		    <result column="kgoods_name" property="kgoodsName" jdbcType="VARCHAR" />
		    <result column="jxj" property="jxj" jdbcType="REAL" />
		    <result column="kc_num" property="kcNum" jdbcType="INTEGER" />
	    </association>
    </collection>
    
  </resultMap>
  
  
  
  
</mapper>