<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.dao.ProcurementMapper" >
  <resultMap id="BaseResultMap" type="com.crm.bean.Procurement" >
    <id column="procurement_id" property="procurementId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="procurement_case" property="procurementCase" jdbcType="VARCHAR" />
    <result column="preorder_id" property="preorderId" jdbcType="INTEGER" />
    <result column="sys_account_id" property="sysAccountId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    procurement_id, customer_id, procurement_case, preorder_id, sys_account_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from procurement
    where procurement_id = #{procurementId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from procurement
    where procurement_id = #{procurementId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.bean.Procurement" >
    insert into procurement (procurement_id, customer_id, procurement_case, 
      preorder_id, sys_account_id)
    values (#{procurementId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{procurementCase,jdbcType=VARCHAR}, 
      #{preorderId,jdbcType=INTEGER}, #{sysAccountId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.bean.Procurement" >
    insert into procurement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="procurementId != null" >
        procurement_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="procurementCase != null" >
        procurement_case,
      </if>
      <if test="preorderId != null" >
        preorder_id,
      </if>
      <if test="sysAccountId != null" >
        sys_account_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="procurementId != null" >
        #{procurementId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="procurementCase != null" >
        #{procurementCase,jdbcType=VARCHAR},
      </if>
      <if test="preorderId != null" >
        #{preorderId,jdbcType=INTEGER},
      </if>
      <if test="sysAccountId != null" >
        #{sysAccountId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.bean.Procurement" >
    update procurement
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="procurementCase != null" >
        procurement_case = #{procurementCase,jdbcType=VARCHAR},
      </if>
      <if test="preorderId != null" >
        preorder_id = #{preorderId,jdbcType=INTEGER},
      </if>
      <if test="sysAccountId != null" >
        sys_account_id = #{sysAccountId,jdbcType=INTEGER},
      </if>
    </set>
    where procurement_id = #{procurementId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.bean.Procurement" >
    update procurement
    set customer_id = #{customerId,jdbcType=INTEGER},
      procurement_case = #{procurementCase,jdbcType=VARCHAR},
      preorder_id = #{preorderId,jdbcType=INTEGER},
      sys_account_id = #{sysAccountId,jdbcType=INTEGER}
    where procurement_id = #{procurementId,jdbcType=INTEGER}
  </update>
  
  <select id="getProcurements" resultMap="ProcurementsResultMap">
  	SELECT 
	p.*,c.*,pd.kgoods_id,pd.procurement_details_id,kc.jxj,customer_name,sys_account_name,kc.kgoods_name,pd.sys_account_id as procurement_details_num
	FROM procurement p INNER JOIN procurement_details pd
	ON p.procurement_id =  pd.procurement_id
	INNER JOIN kc_goods kc ON kc.kcgoods_id = pd.kgoods_id INNER JOIN customer AS c ON p.customer_id = c.customer_id
	INNER JOIN sys_account s ON p.sys_account_id = s.sys_account_id
	<where>
		<if test="clientId != -1">
			p.customer_id = #{clientId}
		</if>
	</where>

  </select>
  
   <resultMap id="ProcurementsResultMap" type="com.crm.bean.Procurement" >
    <id column="procurement_id" property="procurementId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="procurement_case" property="procurementCase" jdbcType="VARCHAR" />
    <result column="preorder_id" property="preorderId" jdbcType="INTEGER" />
    <result column="sys_account_id" property="sysAccountId" jdbcType="INTEGER" />
    <result column="sys_account_name" property="sysAccountName" jdbcType="VARCHAR" />
    
    <association property="customer" column="customer_id" javaType="com.crm.bean.Customer">
    <id column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="copany_name" property="copanyName" jdbcType="VARCHAR" />
    <result column="copany_adress" property="copanyAdress" jdbcType="VARCHAR" />
    <result column="copany_code" property="copanyCode" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_emal" property="customerEmal" jdbcType="VARCHAR" />
    <result column="customer_iphone" property="customerIphone" jdbcType="VARCHAR" />
    <result column="customer_state" property="customerState" jdbcType="VARCHAR" />
    </association>
    
    <collection property="proDetaList" column="procurement_id" ofType="com.crm.bean.ProcurementDetails" >
    	<id column="procurement_details_id" jdbcType="INTEGER" property="procurementDetailsId" />
	    <result column="procurement_details_num" jdbcType="INTEGER" property="sysAccountId" />
	    <association property="kcgoods" column="kgoods_id" javaType="com.crm.bean.Kcgoods" >
	    	<id column="kcgoods_id" property="kcgoodsId" jdbcType="INTEGER" />
		    <result column="kgoods_name" property="kgoodsName" jdbcType="VARCHAR" />
		    <result column="jxj" property="jxj" jdbcType="REAL" />
	    </association>
    </collection>
  </resultMap>
  
  
</mapper>